@use 'variables';
@use 'typography';
@use "elements";

body {
    line-height: 1.6;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid variables.$table-border-color; // Note the namespace
    text-align: left;
    padding: 8px;
}
  
th {
    background-color: variables.$table-header-bg; // Access using namespace
    color: variables.$table-header-color; // Access using namespace
}

// Button
// default button
.btn {
    @include elements.btn;
}

// outline button
.btn-outline {
    @include elements.btn;
    @include elements.btn-outline
}

//light
.btn-light {
    @include elements.btn($bgcolor: variables.$light, $text-color: variables.$dark);
}
// dark
.btn-dark {
    @include elements.btn($bgcolor: variables.$dark, $text-color: variables.$white);
}

//Container styles
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }