@use 'variables';
@use 'typography';
@use "elements";

body {
    color: variables.$default-text-color;
    font-family: variables.$font-stack;
    font-size: typography.$fs-md;
    font-weight: typography.$fw-regular;
    line-height: 1.6;
}

section {
  margin-bottom: variables.$mb-lg;
}

h1 {
  color: variables.$primary;
  font-size: typography.$fs-xxl;
  font-weight: typography.$fw-bold;
}

h2 {
  color: variables.$secondary;
  font-size: typography.$fs-xl;
  font-weight: typography.$fw-semibold;
}

h3 {
  color: variables.$secondary;
  font-size: typography.$fs-lg;
  font-weight: typography.$fw-semibold;
}

h4 {
  color: variables.$secondary;
  font-size: typography.$fs-lg;
  font-weight: typography.$fw-medium;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid variables.$table-border-color; // Note the namespace
    text-align: left;
    padding: 8px;
    font-size: typography.$fs-md;
    font-weight: typography.$fw-light;
}
  
th {
    background-color: variables.$table-header-bg; // Access using namespace
    color: variables.$table-header-color; // Access using namespace
    font-size: typography.$fs-md;
    font-weight: typography.$fw-medium;
}

// Button
// default button
.btn {
    @include elements.btn;
}

// outline button
.btn-outline {
    @include elements.btn;
    @include elements.btn-outline;
}

//light
.btn-light {
    @include elements.btn($bgcolor: variables.$light, $text-color: variables.$dark);
}
// dark
.btn-dark {
    @include elements.btn($bgcolor: variables.$dark, $text-color: variables.$white);
}

//Container styles
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  //Grid Styles
  // Grid container
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: variables.$p-lg;
    justify-content: space-around;
  }
  
  // Grid item
  .grid-item {
    background-color: variables.$light;
    padding: variables.$p-lg;
    border: 1px solid variables.$primary;
    border-radius: 4px;
    text-align: center;
  }
  
  // Responsive grid columns
  @for $i from 1 through 6 {
    .grid-col-#{$i} {
      grid-column: span $i;
    }
  }
  
  //List styles
  
  ul, ol {
    margin-bottom: variables.$mb-md;
    padding-left: variables.$ps-lg; 
    list-style-type: circle;
  }
  
  ol {
    list-style-type: decimal; 
  }
  
  li {
    margin-bottom: variables.$mb-sm; 
  }

  .list-group {
    display: flex;
    flex-direction: column;
    padding-left: variables.$ps-0;
    margin-bottom: variables.$mb-0;
  }
  
  .list-group-item {
    position: relative;
    display: block;
    padding: variables.$p-md;
    margin-bottom: variables.$mb-0;
    background-color: variables.$white;
    border: 1px solid variables.$dark;
  }
  
  .list-group-item:last-child {
    margin-bottom: variables.$mb-0;
  }
  