@use "variables";
@use "typography";

// Button styles
@mixin btn($bgColor: variables.$default-color, $text-color: variables.$white) {
    background-color: $bgColor;
    color: $text-color;
    padding: variables.$p-sm;
    border-radius: 5px;
    min-height: 30px;
    min-width: 120px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: typography.$fs-md;
    font-weight: typography.$fw-medium;
    
    &:hover {
        background-color: darken(variables.$primary, 10%);
      }
}

@mixin btn-outline($text-color: variables.$default-text-color, $bgColor: variables.$white) {
    color: $text-color;
    // padding: variables.$p-sm;
    // border-radius: 5px;
    // min-height: 30px;
    // min-width: 120px;
    // line-height: 30px;
    // text-decoration: none;
    // text-align: center;
    background-color: $bgColor;
    border-width: 1px;
    border: 1px solid $text-color;
    font-size: typography.$fs-md;
    font-weight: typography.$fw-medium;
    &:hover {
        background-color: lighten(variables.$light, 5%);
        border: 1px solid variables.$primary;
        color: variables.$primary;
      }
}


// Table styles
@mixin table-style {
    width: 100%;
    border-collapse: collapse;
}


// Form styles
@mixin form($text-color: variables.$default-text-color, $bgColor: variables.$white, $width: 100%) {
    border-radius: 5px;
    background-color: $bgColor;
    color: $text-color;
    padding: variables.$p-lg;
    max-width: $width;

    input {
        @include input();
    }
}

// Input styles
@mixin input($text-color: variables.$default-text-color, $bgColor: variables.$white) {
    color: $text-color;
    background-color: $bgColor;
    border-radius: 5px;
    border: 1px solid variables.$table-border-color;
    padding-left: variables.$ps-md;
    padding-top: variables.$pt-sm;
    padding-bottom: variables.$pb-sm;
    width: 100%;
    
    &::placeholder {
      font-size: typography.$fs-sm;
      font-weight: typography.$fw-light;
    }
}