// Font Sizes
$fs-sm: 0.8rem; // Small font size
$fs-md: 1rem; // Medium font size
$fs-lg: 1.5rem; // Large font size
$fs-xl: 2rem; // Extra-large font size
$fs-xxl: 2.5rem; // Extra-extra-large font size

// Font Weights
$fw-light: 300; // Light font weight
$fw-regular: 400; // Regular font weight
$fw-medium: 500; // Medium font weight
$fw-semibold: 600; // Semibold font weight
$fw-bold: 700; // Bold font weight