// Font
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
$font-stack: 'Fredoka', sans-serif;

// Basic Colors
$table-border-color: #cccccc;
$table-header-bg: #f2f2f2;
$table-header-color: #333333;

// Colors
$primary: #009a2e;
$secondary: #c57000;
$success: #00ad7c;
$info: #568a92;
$warning: #a28700;
$danger: #db2235;
$light: #e6e6e6;
$dark: #333b35;
$white: #fff;
$black: #000;
// default color
$default-color: $primary;
$default-text-color: $dark;

// Margin
$m-0: 0 !important;
$m-sm: 0.2rem !important;
$m-md: 0.8rem !important;
$m-lg: 1.5rem !important;

$mt-0: 0 !important;
$mt-sm: 0.2rem !important;
$mt-md: 0.8rem !important;
$mt-lg: 1.5rem !important;

$mb-0: 0 !important;
$mb-sm: 0.2rem !important;
$mb-md: 0.8rem !important;
$mb-lg: 1.5rem !important;

$ms-0: 0 !important;
$ms-sm: 0.2rem !important;
$ms-md: 0.8rem !important;
$ms-lg: 1.5rem !important;

$me-0: 0 !important;
$me-sm: 0.2rem !important;
$me-md: 0.8rem !important;
$me-lg: 1.5rem !important;

// Padding
$p-0: 0 !important;
$p-sm: 0.2rem !important;
$p-md: 0.8rem !important;
$p-lg: 1.5rem !important;

$pt-0: 0 !important;
$pt-sm: 0.2rem !important;
$pt-md: 0.8rem !important;
$pt-lg: 1.5rem !important;

$pb-0: 0 !important;
$pb-sm: 0.2rem !important;
$pb-md: 0.8rem !important;
$pb-lg: 1.5rem !important;

$ps-0: 0 !important;
$ps-sm: 0.2rem !important;
$ps-md: 0.8rem !important;
$ps-lg: 1.5rem !important;

$pe-0: 0 !important;
$pe-sm: 0.2rem !important;
$pe-md: 0.8rem !important;
$pe-lg: 1.5rem !important;

$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1140px;

// Borders
$border-collapse: collapse;

$border-dark: 1px solid $dark;
$border-light: 1px solid $light;
$border-table:1px solid $table-border-color;
$border-primary: 1px solid $primary;

$radius-4: 4px;
$radius-5: 5px;

//Alignment
$text-center: center;
$text-right: right;